/* Contenedor principal del sidebar */
.sidebar-container {
    width: 90px; /* Anchura del sidebar */
    background-color: #D9D9D9; /* Fondo azul */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; /* Ocupa toda la altura de la ventana */
    display: flex;
    flex-direction: column;
    align-items: center;;
    
  }
  
  /* Título del sidebar */
  .sidebar-title {
    color: black;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 32px;
  }
  
  /* Navegación del sidebar */
  .sidebar-nav {
    width: 100%; /* Ocupar el ancho total */
  }
  
  /* Estilos generales para los enlaces del sidebar */
  .sidebar-link {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
    color: black;
    font-weight: 500;
    /* border-radius: 8px; */
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    text-decoration: none;
  }
  
  /* Enlace activo o cuando el usuario hace hover */
  .sidebar-link-active {
    background-color: #573b8a; /* Fondo más oscuro para el enlace activo */
    border: 2px solid rgba(0, 0, 0, 0.464) ;
    color: white;
    
    
  }
  
  .sidebar-link:hover {
    background-color:#a0a0a0;; /* Color al pasar el cursor */
    color: black;
  }
  